/* page layout */

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

header, footer {
  width: 100%;
  height: 4rem;
  margin: 0;
  background-color: #888;
}

header h2 {
  margin: 20px 0 0;
  display: inline-block;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

nav a {
  flex: 1 1 auto;
  height: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #999;
  border: 2px #ccc solid;
  background-color: #ddd;
  border-radius: 10px / 10px;
}

nav a:first-child {
  margin-left: 0;
}

nav a:hover {
  color: #000;
  border: 2px #ddd solid;
  background-color: #eee;
}

nav a:active {
  background: radial-gradient(closest-side, #f0f0f0, #e0e0e0);
  color: #333;
}

nav::after {
  content: '';
  display: table;
  clear: both;
}

footer .container {
  margin-top: 1rem;
}

#content {
  margin: 1rem auto;
  min-height: calc(100vh - 10rem);
}

.container {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}

/* 2-col content layout */
#content {
  /* container */
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
}

#content > ul, #content > div {
  /* container */
  display: flex;
  border-radius: 8px / 8px;
  border: 2px solid #ccc;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: calc(100vh - 10rem);
}

/* chord selectors */
#chord-selector {
  margin-right: 1rem;
  list-style-type: none;
  flex-flow: column wrap;
  flex: 1 1 auto;
}

#chord-selector a {
  flex: 0 1 4em;

  /* container */
  display: flex;
  justify-content: center;
  margin: .2rem;
  padding: 1rem 0;

  /* style */
  text-decoration: none;
  font-weight: bold;
}

#chord-selector a, #chord-selector a:visited {
  color: #333;
  background-color: #eee;
}
#chord-selector a:hover {
  color: #444;
}

#chord-selector a.selected {
  background-color: #ccf;
}

/* selected chord display */

#selected-chords {
  /* item */
  flex: 0 1 20rem;
  margin-bottom: auto;
  /* container */
  flex-flow: column nowrap;
}

#selected-chords div {
  flex: 1 1 0;
  border-radius: 4px / 4px;
  border: 1px solid #ccc;
  height: 50%;
  /* container */
  display: flex;
  justify-content: center;
  align-items: center;
}

#selected-chords h2 {
  font-size: 6rem;
  margin: 0;
  padding: 0;
}

/* Timer Modal */
.hidden {
  display: none;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: #000;
  background: rgba(0,0,0,.6);

  /*container*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.modal-header, .modal-body, .modal-footer {
  width: 80%;
  max-width: 600px;
  min-width: 360px;
  margin: 0 auto;
  /* style */
  background-color: #999;
  padding: 8px;
}

.modal-header {
  height: 2rem;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-body {
  /* container */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.modal-footer {
  height: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.close {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  bottom: .0rem;
  right: .5rem;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: black;
}

/* TIMER UI */


.modal-body li, .modal-body div, .modal-body a {
  background-color: #eee;
  border-radius: 10px;
  font-weight: bold;
}

.boogie {
  border: 1px #f99 solid;
}

ul#chord-display {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 6rem;
}

#chord-display li {
  width: 33%;
  font-size: 3rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;

}

#chord-display li:last-child {
  font-size: 4rem;
}

.modal-body .button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
  width: 49.8%;
  height: 3rem;
  border: none;
  color: #666;
  background-color: #eee;
  border-radius: 10px;
  cursor: pointer;
}

/* modal stuff will go here once testing is working */













