/* page layout */

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

header, footer {
  width: 100%;
  height: 4rem;
  margin: 0;
  background-color: #888;
}

header h2 {
  margin: 20px 0 0;
  display: inline-block;
}

header a {
  float: right;
  clear: left;

  display: block;
  height: 1em;
  width: 8em;
  margin: 20px 0 0;
  padding: 0;
  border: 2px #bbb solid;
  border-radius: 8px / 8px;

  color: #999;
  background-color: #ddd;
  text-align: center;
}

header a:hover {
  color: #000;
  border: 2px #fff solid;
  background-color: #eee;
}
header a:active {
  background-color: #222;
  color: #ffd;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

footer .container {
  margin-top: 1rem;
}

#content {
  margin: 1rem auto;
  min-height: calc(100vh - 10rem);
}

.container {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}

/* 2-col content layout */
#content {
  /* container */
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
}

#content > ul, #content > div {
  /* container */
  display: flex;
  border-radius: 8px / 8px;
  border: 2px solid #ccc;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: calc(100vh - 10rem);
}

/* chord selectors */
#chord-selector {
  margin-right: 1rem;
  list-style-type: none;
  flex-flow: column wrap;
  flex: 1 1 auto;
}

#chord-selector a {
  flex: 1 1 auto;

  /* container */
  display: flex;
  justify-content: center;
  margin: .2rem;
  padding: 1rem 0;

  /* style */
  text-decoration: none;
  font-weight: bold;
}

#chord-selector a, #chord-selector a:visited {
  color: #333;
  background-color: #eee;
}
#chord-selector a:hover {
  color: #444;
}

#chord-selector a.selected {
  background-color: #ccf;
}

/* selected chord display */

#selected-chords {
  /* item */
  flex: 2 1 0;
  margin-bottom: auto;
  /* container */
  flex-flow: column nowrap;
}

#selected-chords div {
  flex: 1 1 0;
  border-radius: 4px / 4px;
  border: 1px solid #ccc;
  height: 50%;
  /* container */
  display: flex;
  justify-content: center;
  align-items: center;
}

#selected-chords h2 {
  font-size: 6rem;
  margin: 0;
  padding: 0;
}












