   
    <div class="container">
      <nav>
        <a id="random-pair">Random Pair</a>
        <a id="clear-selections">Clear Selections</a>
        <a id="display-timer">GO!</a>
      </nav>
    </div>

    <!-- display the chords -->
    <ul id="chord-selector"></ul>

    <!-- display the currently selected chords -->
    <div id="selected-chords">
      <div></div>
      <div></div>
    </div>

    <!-- timer modal -->
    <div id="minute-timer" class="hidden">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
        </div>
        <div class="modal-body">
          <ul id="chord-display">
            <li></li>
            <li></li>
            <li id="timer"></li>
          </ul>
          <a class="button" id="timer-start">Start</a>
          <a class="button" id="timer-reset">Reset</a>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>

    <audio src="<%= audio_path('piano.wav') %>" id="piano" autostart="false">